template(name='grid')
  +ContainerSurface id='gridCtx'
    +Modifier id='gridWorld' align='[.5,.5]' origin='[.5,.5]' translate='[0,0,1]'
      +GridLayout dimensions='[2,3]'
        +famousEach picts
          +gridItem
      
template(name='gridItem')
  +Modifier align='[.5,.5]' origin='[.5,.5]' translate='[0,0,1]'
    +BkImageSurface id=url content=url sizemode='ASPECTFILL' backface=true
      | no content
